/build/firefox-unpacked
/build/firefox-addon-sdk-url.txt
/build/firefox-addon-sdk
/conf/local_settings.json
/build/Chrome
/build/Chrome.pem
/build/Firefox/*.png
/build/Firefox/data
/build/Safari.safariextension
/out
*~
