<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Andrew Sayers</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Frontier forums moderation tools</string>
	<key>CFBundleIdentifier</key>
	<string>com.honestbleeps.1af51de1-7f0f-4dd6-b5f4-06e8e9ca7559</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleVersion</key>
	<string>2.7</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>background.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>notification.html</string>
				<key>Identifier</key>
				<string>notification</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string/>
				<key>Identifier</key>
				<string>notificationButton</string>
				<key>Image</key>
				<string>notification.png</string>
				<key>Label</key>
				<string>Notifications</string>
				<key>Palette Label</key>
				<string>Notifications</string>
				<key>Popover</key>
				<string>notification</string>
				<key>Tool Tip</key>
				<string>Notifications from this BabelExt Extension</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery.min.js</string>
				<string>extension.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>BabelExt.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Add moderator tools to the Frontier Forums</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>babelext.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://pileofstuff.org/frontier-forums-moderation-tools/</string>
</dict>
</plist>
