/*
 * DASHBOARD CSS
 */
#breadcrumb {
    margin-bottom: 1em;
}

.dashboard-done {
    float: right;
}

ol.dashboard-body {
    margin-right: 2px
}

.dashboard-section {
    clear: both;
    width: 100%;
}

.dashboard-section > table {
    width: 100%;
}

.dashboard-section .nonempty, .dashboard-section .empty, .dashboard-section .loading, .dashboard-section .done, .dashboard-section .undone { display: none }
.dashboard-section.empty table, .dashboard-section.empty.loading .dashboard-body, .dashboard-section.empty.loading .empty                  { display: none }
.dashboard-section.nonempty .nonempty, .dashboard-section.empty .empty, .dashboard-section.loading .loading, .dashboard-section.done .done, .dashboard-section.undone .undone { display: inline }
.dashboard-section h4 { clear: both }
.dashboard-section.done .dashboard-body, .dashboard-section.done table { display: none }
.dashboard-section.empty .actionbuttons { display: none }

.dashboard-newbies .options_block {
    margin: 0 1em 1em;
}
.dashboard-newbies .options_block.collapsed {
    margin-bottom: 0;
}

.dashboard-newbies .search {
    clear: both;
}

.dashboard-newbies textarea {
    width: 100%;
    height: 20em;
}

.dashboard-newbies .options_block.collapsed .blockbody,
.dashboard-newbies .options_block:not(.valid) .blockbody.valid,
.dashboard-newbies .options_block:not(.inappropriate) .blockbody.inappropriate,
.dashboard-newbies .options_block:not(.dupe) .blockbody.dupe,
.dashboard-newbies .options_block:not(.inappropriate) .action.inappropriate,
.dashboard-newbies .options_block:not(.dupe) .action.dupe {
    display: none;
}

.dashboard-newbies .action {
    vertical-align: top;
}

.dashboard-newbies a.collapse {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: static;
    float: right;
    /* background-image: see res/main.css */
}

.dashboard-newbies .posthead, .dashboard-newbies .dupes, .dashboard-newbies .notification {
    clear: both;
    margin-bottom: 1em
}

.dashboard-newbies .dupes table td,
.dashboard-newbies .dupes table th {
    border: none;
}

.dashboard-newbies .issues {
    float: right;
    display: inline-block;
    margin-right: 1em;
}

.dashboard-newbies fieldset,
.mod-friend-thread-management fieldset {
    clear: both;
    border-width: 1px;
    border-style: solid;
    /* border-color: see res/main.css */
    padding: 1em;
}
.dashboard-newbies legend, #dashboard-newbies h1,
.mod-friend-thread-management legend {
    /* color: see res/main.css */
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.25em
}

.dashboard-newbies .notification-text-button,
.mod-friend-thread-management .button {
    float: right;
}

.dashboard-newbies .collapsed:hover {
    opacity: 0.8;
}

.dashboard-issues > :hover {
    font-style: italic;
}

a.dashboard-refresh {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAI/SURBVDjLjZPbS9NhHMYH+zNidtCSQrqwQtY5y2QtT2QGrTZf13TkoYFlzsWa/tzcoR3cSc2xYUlGJfzAaIRltY0N12H5I+jaOxG8De+evhtdOP1hu3hv3sPzPO/z4SsBIPnfuvG8cbBlWiEVO5OUItA0VS8oxi9EdhXo+6yV3V3UGHRvVXHNfNv6zRfNuBZVoiFcB/3LdnQ8U+Gk+bhPVKB3qUOuf6/muaQR/qwDkZ9BRFdCmMr5EPz6BN7lMYylLGgNNaKqt3K0SKDnQ7us690t3rNsxeyvaUz+8OJpzo/QNzd8WTtcaQ7WlBmPvxhx1V2Pg7oDziIBimwwf3qAGWESkVwQ7owNujk1ztvk+cg4NnAUTT4FrrjqUKHdF9jxBfXr1rgjaSk4OlMcLrnOrJ7latxbL1V2lgvlbG9MtMTrMw1r1PImtfyn1n5q47TlBLf90n5NmalMtUdKZoyQMkLKlIGLjMyYhFpmlz3nGEVmFJlRZNaf7pIaEndM24XIjCOzjX9mm2S2JsqdkMYIqbB1j5C6yWzVk7YRFTsGFu7l+4nveExIA9aMCcOJh6DIoMigyOh+o4UryRWQOtIjaJtoziM1FD0mpE4uZcTc72gBaUyYKEI6khgqINXO3saR7kM8IZUVCRDS0Ucf+xFbCReQhr97MZ51wpWxYnhpCD3zOrT4lTisr+AJqVx0Fiiyr4/vhP4VyyMFIUWNqRrV96vWKXKckBoIqWzXYcoPDrUslDJoopuEVEpIB0sR+AuErIiZ6OqMKAAAAABJRU5ErkJggg==');
}

.dashboard-section .dashboard-server_stats {
    float: left;
    margin-left: 3em
}

.toolsmenu .popupgroup .popupbody .mod-friend-post-graph {
    background: #333;
}

.toolsmenu .popupgroup .popupbody .mod-friend-post-graph .line-legend li {
    display: inline-block;
    border: none;
    width: 20em;
}

.toolsmenu .popupgroup .popupbody .mod-friend-post-graph .line-legend a {
    background: none;
    display: inline;
    padding: 0;
    color: white;
}

.toolsmenu .popupgroup .popupbody .mod-friend-post-graph .line-legend a.colour-block,
.dashboard-section .line-legend span {
    width: 1em;
    height:1em;
    display: inline-block;
    margin-right: 0.5em;
}

.line-legend a.top-10 {
    font-weight: bold;
}

.line-legend li.disabled {
    text-decoration: line-through;
}

/*
 * Simple progress bar
 */

.mod-friend-progress,
.mod-friend-progressing * {
    display: none;
}

.mod-friend-progressing .mod-friend-progress {
    background-color: blue;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    width: 10em;
}

.mod-friend-progressing .mod-friend-progress > div {
    width: 0;
    display: block;
    background-color: yellow;
    border-radius: 2px
}

.mod-friend-variables-buttons {
    width: 100%;
    text-align: center;
    margin: 1em;
}

.mod-friend-variables-buttons a {
    float: none;
    display: inline;
    text-decoration: none;
    font-size: 200%;
}

.mod-friend-thread-management {
    position: absolute;
    min-width: 51em;
    border: 2px solid black;
    background: white;
    padding: 2px;
    border-radius: 0 2px 2px;
    margin-right: 3em;
    max-width: 66em;
}

.mod-friend-thread-management.logging-in > div,
.mod-friend-thread-management:not(.logging-in) > iframe,
.mod-friend-thread-metadata.logging-in > div,
.mod-friend-thread-metadata:not(.logging-in) > iframe {
    display: none;
}

.mod-friend-thread-management select[name="response_template"],
.mod-friend-thread-management .forum_selector select,
.mod-friend-thread-management .violation-details,
.mod-friend-thread-management .post input[type="text"],
.mod-friend-thread-management .PM   input[type="text"] {
    width: 100%;
    margin: 0;
}

.mod-friend-thread-management .forum_selector {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mod-friend-thread-management .forum_selector .current-forum {
    font-style: italic;
}
.mod-friend-thread-management .forum_selector .recent-target {
    font-weight: bold;
}

.mod-friend-thread-management .status select,
.mod-friend-thread-management .prefix select {
    margin-right: 2px
}

.mod-friend-thread-management .thread-info div:not(.title) {
    float: left;
}
.mod-friend-thread-management .buttons > div {
    float: left;
    margin: 0.5em 1em;
}
.mod-friend-thread-management .buttons label {
    display: block;
}

.mod-friend-thread-management .thread-info div.title {
    width: auto;
    padding: 0 6px 0 3px;
    overflow: hidden;
}
.mod-friend-thread-management .thread-info div.title input {
    width: 100%;
    min-height: 20px;
}

.mod-friend-thread-management .message_selector {
    clear: both;
}

.mod-friend-thread-management .lastnavbit {
    padding-right: 0;
}

.mod-friend-thread-management .blockbody {
    padding: 0;
}
.mod-friend-thread-management textarea {
    height: 15em;
}

.mod-friend-thread-management textarea[name="extra-notes"] {
    width: 100%;
}

.mod-friend-thread-management .lastnavbit select {
    width: 51em;
}

.mod-friend-thread-management .icons {
    display: inline-block;
    width:30px;
    vertical-align: bottom;
}

.mod-friend-thread-management .title input {
    width: 17.5em;
}


.dashboard-section.chaseup .postbit_reputation,
.dashboard-section.chaseup .postuseravatar,
.dashboard-section.chaseup .user_rep {
    display: none;
}

.notification-selector .postbitlegacy {
    margin-bottom: 0;
}

.mod-friend-variables-upload-form {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: white;
    border: 2px solid black;
    padding: 1em;
}

.mod-friend-variables-upload-form textarea {
    width: 100%;
    height:90%;
    margin-bottom: 0.5em;
}

.mod-friend-unmerge input,
.mod-friend-variables-upload-form input.cancel {
    float: right;
}

.mod-friend-thread-management .merge-sender-warning {
    clear: both;
    display: none;
}

.postbitlegacy .mod-team-usernote:before {
    font-size: 120%;
    content: "\266b";
}

.postbitlegacy .postfoot .textcontrols a.mod-team-usernote {
    background: none;
    padding: 0;
}

.mod-friend-active > .popupbody {
    display: inline-block
}
.mod-friend-active.popupmenu ul.popupbody.memberaction_body {
    position: absolute;
    left: 0px;
    top: 15px;
    width: inherit;
}
.mod-friend-active.popupmenu ul.popupbody.memberaction_body li {
    width: inherit;
}
.mod-friend-active.popupmenu ul.popupbody.memberaction_body li a {
    padding: 4px 0;
    display: inline-block;
    width: 100%;
    margin: 0;
}
